body {
    background-color: #810403;
}

#header {
    position: fixed;
    background-color: #810403;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;
}

#description {
    position: absolute;
    top: 68px;
    right: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    height: 559px;
}

#description h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 17px;
}

#description p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

#description img {
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 25px;
}

/* ----- START UP SECTION ----- */

#start {
    margin-top: 70px; /* Adjust the margin to make space for the fixed header */
    position: relative;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 32%;
    gap: 30px;
}

.footer .copyright {
    margin-top:5px;
    text-align:center;
    font-size:13px;
    color:#ffff;
    margin-bottom:0;
}

.start-btn {
    width: 200px;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    text-decoration: none;
    display: inline-block;
    background: #ac0d0d;
    color: #e4e4de;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ac0d0d;
    transition: all 0.3s ease;
}
  
.start-btn:hover {
    color: white;
    background: #810403;
    border: 2px solid #810403;
}

.bldg-btn {
    width: 200px;
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
    text-decoration: none;
    display: inline-block;
    background: #ac0d0d;
    color: #e4e4de;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ac0d0d;
    transition: all 0.3s ease;
}

.bldg-btn:hover {
    color: white;
    background: #810403;
    border: 2px solid #810403;
}

#bgslider { 
	overflow: hidden; 
    margin-left: 65px;
    width: 90%;
    height: 80%;
    align-items: center;
}

#bgslider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    font-size: 0;
    animation: 15s slidy infinite; 
}

#bgslider figure img { 
    object-fit: cover;
	width: 20%; 
	float: left; 
	height: 85vh;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -300%; }
}

/* ----- MAP SECTION ----- */
.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#btn_lib {
    position: absolute;
    top:192px;
    left: 395px;
    background-color: maroon;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_lib{
    display: none;
    position: absolute;
    top:146px;
    left: 250px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease; 
}

#btn_lib:hover + #dia_lib{
    display: block;
    opacity: 5;
}  


#btn_labhs {
    position: absolute;
    top:182px;
    left: 235px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_labhs{
    display: none;
    position: absolute;
    top:140px;
    left: 150px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_labhs:hover + #dia_labhs{
    display: block;
}  

#btn_charlie {
    position: absolute;
    top:290px;
    left: 255px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_charlie {
    display: none;
    position: absolute;
    top:245px;
    left: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_charlie:hover + #dia_charlie {
    display: block;
}  

#btn_dome {
    position: absolute;
    top:488px;
    left: 414px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_dome {
    display: none;
    position: absolute;
    top:443px;
    left: 375px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_dome:hover + #dia_dome {
    display: block;
}

#btn_west {
    position: absolute;
    top:444px;
    left: 340px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_west {
    display: none;
    position: absolute;
    top:400px;
    left: 300px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_west:hover + #dia_west {
    display: block;
}

#btn_north {
    position: absolute;
    top:444px;
    left: 485px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_north {
    display: none;
    position: absolute;
    top:400px;
    left: 450px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_north:hover + #dia_north {
    display: block;
}

#btn_east {
    position: absolute;
    top:566px;
    left: 414px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_east {
    display: none;
    position: absolute;
    top:520px;
    left: 390px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_east:hover + #dia_east {
    display: block;
}

#btn_south {
    position: absolute;
    top:544px;
    left: 320px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_south {
    display: none;
    position: absolute;
    top:500px;
    left: 280px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_south:hover + #dia_south {
    display: block;
}

#btn_lagoon {
    position: absolute;
    top:310px;
    left: 445px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_lagoon {
    display: none;
    position: absolute;
    top:270px;
    left: 410px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_lagoon:hover + #dia_lagoon {
    display: block;
}

#btn_pe {
    position: absolute;
    top:165px;
    left: 522px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_pe {
    display: none;
    position: absolute;
    top:120px;
    left: 487px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_pe:hover + #dia_pe {
    display: block;
}

#btn_pool {
    position: absolute;
    top:150px;
    left: 615px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_pool {
    display: none;
    position: absolute;
    top:110px;
    left: 550px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_pool:hover + #dia_pool {
    display: block;
}

#btn_gym {
    position: absolute;
    top:150px;
    left: 745px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_gym {
    display: none;
    position: absolute;
    top:105px;
    left: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_gym:hover + #dia_gym {
    display: block;
}

#btn_obelisk {
    position: absolute;
    top:303px;
    left: 588px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_obelisk {
    display: none;
    position: absolute;
    top:263px;
    left: 530px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_obelisk:hover + #dia_obelisk {
    display: block;
}

#btn_chapel {
    position: absolute;
    top:560px;
    left: 532px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_chapel {
    display: none;
    position: absolute;
    top:517px;
    left: 505px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_chapel:hover + #dia_chapel {
    display: block;
}

#btn_oval {
    position: absolute;
    top:500px;
    left: 765px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_oval {
    display: none;
    position: absolute;
    top:455px;
    left: 715px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_oval:hover + #dia_oval {
    display: block;
}

#btn_mabini {
    position: absolute;
    top:367px;
    left: 643px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_mabini {
    display: none;
    position: absolute;
    top:325px;
    left: 590px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_mabini:hover + #dia_mabini {
    display: block;
}

#btn_grandstand {
    position: absolute;
    top:430px;
    left: 680px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_grandstand {
    display: none;
    position: absolute;
    top:390px;
    left: 630px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_grandstand:hover + #dia_grandstand {
    display: block;
}

#btn_pylon {
    position: absolute;
    top:295px;
    left: 889px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_pylon {
    display: none;
    position: absolute;
    top: 255px;
    left: 850px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_pylon:hover + #dia_pylon {
    display: block;
}

#btn_pasig {
    position: absolute;
    top:393px;
    left: 105px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_pasig {
    display: none;
    position: absolute;
    top: 350px;
    left: 80px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_pasig:hover + #dia_pasig {
    display: block;
}

#btn_canteen {
    position: absolute;
    top:375px;
    left: 250px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_canteen {
    display: none;
    position: absolute;
    top: 335px;
    left: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_canteen:hover + #dia_canteen {
    display: block;
}

#btn_stu_canteen {
    position: absolute;
    top:347px;
    left: 272px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_stu_canteen {
    display: none;
    position: absolute;
    top: 305px;
    left: 220px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_stu_canteen:hover + #dia_stu_canteen {
    display: block;
}

#btn_ferry {
    position: absolute;
    top:635px;
    left: 299px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_ferry {
    display: none;
    position: absolute;
    top: 595px;
    left: 234px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_ferry:hover + #dia_ferry {
    display: block;
}

#btn_campdev:hover + #dia_campdev {
    display: block;
}

#btn_nutrifood {
    position: absolute;
    top:647px;
    left: 525px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_nutrifood {
    display: none;
    position: absolute;
    top: 605px;
    left: 390px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_nutrifood:hover + #dia_nutrifood {
    display: block;
}

#btn_court {
    position: absolute;
    top:237px;
    left: 663px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_court {
    display: none;
    position: absolute;
    top: 180px;
    left: 548px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_court:hover + #dia_court {
    display: block;
}

#btn_tennis {
    position: absolute;
    top:240px;
    left: 760px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_tennis {
    display: none;
    position: absolute;
    top: 200px;
    left: 700px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_tennis:hover + #dia_tennis {
    display: block;
}

#btn_community {
    position: absolute;
    top:560px;
    left: 855px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_community {
    display: none;
    position: absolute;
    top: 520px;
    left: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_community:hover + #dia_community {
    display: block;
}

#btn_park {
    position: absolute;
    top:370px;
    left: 570px;
    background-color: maroon; opacity: 1;
    border-color: white;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 100%;
}

#dia_park {
    display: none;
    position: absolute;
    top: 330px;
    left: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
}

#btn_park:hover + #dia_park {
    display: block;
}

/* ----- BUILDINGS SECTION ----- */

#amphitheater, #catwalk, #wall, #charlie, #grandstand, #gym, #chapel, #lab, #lagoon,
#dome, #east, #north, #south, #west, #gate, #park, #nalrlc, #open, #cnfs, #oval,
#chk, #river, #ferry, #canteen, #linear, #brass, #obelisk, #pylon, #sampaguita,
#shrine, #pool, #tennis, #water{
    margin-top: 120px;
    position: relative;
}

.container{
    padding: 50px 5%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #FEDE07;
    padding: 0; 
    margin: 0;
}
  
.desc-col-1{
    flex-basis: 60%;
    text-align: justify;
}
  
.desc-col-1 p{
    padding-top: 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
  
.img-col-2{
    flex-basis: 35%;
}
  
.img-col-2 img{
    width: 100%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
}

.img-col-1 {
    flex-basis: 35%;
}

.img-col-1 img{
    width: 100%;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px black;
}

.desc-col-2{
    flex-basis: 60%;
    text-align: justify;
}

.desc-col-2 p{
    padding-top: 5px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.construction{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #FEDE07;
    padding-top: 50px; 
    margin: 0;
}

.tab-titles{
    display: flex;
    margin: 5px 0 5px;
}
  
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
  
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FEDE07;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
  
.tab-links.active-link::after{
    width: 50%;
}
  
.tab-contents ul li{
    list-style: none;
    margin: 5px 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: #f9f9f9;
}
  
.tab-contents ul li span{
    color: #FEDE07;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
  
.tab-contents{
    display: none;
}
  
.tab-contents.active-tab{
    display: block;
}


